<h1>Export XSL Files</h1>

<table>
  <thead>
    <tr>
      <th><%= link_to("Export!" , "/sheets.xls")%></th>
      <th><%= link_to("Sample spreadsheet" , "/sample")%></th>       
    </tr>
  </thead>
</table>
